/* Form error messages */
.errorMsg{
    color:#ef473a
}
/*chat list img postion fix*/
.topMargin{
    margin-top: 5%
}
/* time text in chat */
.timeText{
    font-size: 10px
}

.timeText.left{
    text-align: left;
}

.timeText.right{
    text-align: right;
}
/*chat details */
.bar-footer {
    overflow: visible !important;
}
.bar-footer textarea {
    resize: none;
    height: 25px;
}
button.ion-android-send {
    padding-top: 2px;
}
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}
.footer-btn {
    position: absolute !important;
    bottom: 0;
}
img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}
img.profile-pic.left {
    left: 10px;
}
img.profile-pic.right {
    right: 10px;
}
.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}
.message {
    font-size: 14px;
}
.message-detail {
    white-space: nowrap;
    font-size: 14px;
}
.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}
.message-wrapper {
    position: relative;
}
.message-wrapper:last-child {
    margin-bottom: 10px;
}
.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}
.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}
.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}
.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}
.chat-bubble.right {
    background-color: #ef473a;
    color: #fff;
    float: right;
    margin-right: 55px;
}
.chat-bubble.right:before {
    background-color: #ef473a;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}
.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}
.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
    margin-left: 5px;
}
.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
}
.bold {
    font-weight: bold;
}
.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}
.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.loader .ion-loading-c {
    font-size: 64px;
}
/* login logo image */
.centerLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.centerLogo-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}